.sidebar-menu {
    width: 297px;
    height: 100vh;
    background-color: #393f4f;

    .app-logo  {
        margin-top: 34px;
        margin-left: 60px;
        margin-bottom: 40px;
        width: 40px;
        height: auto;
    }

    .bg-body-tertiary {
        background-color:#393f4f !important;
    }
    .navbar.navbar-expand-lg.bg-body-tertiary {
        font-size: 18px;
        line-height: 72px;
        color: #596377;
        font-weight: 600;
        font-family: "Source Sans Pro";
        background-color: #393f4f;
    }

    .dash {
        margin: 44px 104px 0 100px;
        width: 92px;
        height: 28px;
        border-radius: 3px;
        color: #ffff;
    }

    .block {
        height: 64px;
        background-color: #2b303e;

        .report {
            margin-left: 85px;
            font-size: 18px;
            line-height: 72px;
            color: #dcdee2;
            
            font-family: "Source Sans Pro";
        }

        .line {
            width: 4px;
            height: 64px;
            background-color: #62baf0;
        }
    }

}
